[mysqld_safe]

[mysqldump]
quick
quote-names
max_allowed_packet                      = 1G

[myisamchk]

[mysqlhotcopy]
interactive-timeout

[client]
port                                    = 3306
socket                                  = /var/run/mysqld/mysqld.sock
default-character-set                   = utf8mb4

[mysqld]
user                                    = mysql
bind-address                            = 0.0.0.0
basedir                                 = /usr
datadir                                 = /var/lib/mysql
socket                                  = /var/run/mysqld/mysqld.sock
log-warnings
innodb_file_format                      = barracuda

init_connect                            = 'SET NAMES utf8mb4;'
character-set-server                    = utf8mb4
collation-server                        = utf8mb4_general_ci
character_set_filesystem                = utf8mb4
default-storage-engine                  = InnoDB
sql_mode                                = ''

symbolic-links                          = 0
default_storage_engine                  = InnoDB
skip-character-set-client-handshake
skip-name-resolve

query_cache_size                        = 8M
query_cache_limit                       = 2M
table_open_cache                        = 1024
tmp_table_size                          = 16M
key_buffer_size                         = 32M

max_allowed_packet                      = 256M
max_connections                         = 100

innodb_file_per_table                   = true
innodb_file_format                      = barracuda
innodb_large_prefix                     = true
innodb_strict_mode                      = 0
innodb_open_files                       = 1024
innodb_flush_log_at_trx_commit          = 2
innodb_buffer_pool_size                 = 1G
innodb_log_buffer_size                  = 8M
innodb_log_file_size                    = 32M
innodb_adaptive_hash_index              = 0

long_query_time                         = 2
slow-query-log                          = OFF
general-log                             = 0
query_cache_type                        = OFF

transaction-isolation                   = READ-COMMITTED
table_definition_cache                  = 800
